<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="{{url_for('static', filename='Registerv.css')}}">
</head>
<body>

<form action="/register" METHOD="POST">
	<div class="container">
		<a href = "/"> Back to Index page</a>
		<h1>Register as Visitor</h1>
		<p>Please fill in this form to create an account.</p>
		<hr>

		<label for="Vorname"><b>Name</b></label> 
		<input type="text" placeholder="Enter your full name" name="Vorname"  required>

		<label for="email"><b>Email</b></label>
		<input type="text" placeholder="Enter Email" name="email" id="email" required> 

		<label for="password"><b>Password</b></label>
		<input type="text" placeholder="Create a password" name="password" id="password" required>

		<label for="phone"><b>Phone</b></label>
		<input type="text" placeholder="Enter Phone" name="phone" id="phone" required>  

		<label for="address"><b>Address</b></label>
		<input type="text" placeholder="Enter address" name="address" id="address" required> 


		<hr>
		<label><b>Already have an account? <a href = "/Visitor">Log In</a></b></label>
		<button type="submit" class="registerbtn">Register</button>
	</div>
  
</form> 
</body>
</html>
